:root {
  --green: rgb(29, 185, 84);
  --black: rgb(18, 18, 18);
  --darkGrey: rgb(33, 33, 33);
  --mediumGrey: rgb(83, 83, 83);
  --lightGrey: rgb(179, 179, 179);
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  background-color: var(--black);
}
