.dashboardContainer {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.playerSearchContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.searchBox {
  overflow: auto;
  padding: 1.5rem;
  max-height: 100%;
}

.sideBar {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: var(--black);
  padding: 1.25rem;
}

.mainLogo {
  margin: 1.5rem 0;
}

input {
  width: 100%;
  padding: 0.75rem 2rem;
  border-radius: 15px;
  border: none;
  background-color: var(--mediumGrey);
  font-weight: 400;
  color: white;
  font-family: inherit;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.songs {
  width: 100%;
  margin-top: 5px;
}
