.playingGif {
  object-fit: cover;
  height: 100%;
  width: auto;
}

.gifs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .playingGif {
    height: auto;
    width: 100%;
  }
}
