.player_container {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.gif_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
}

.spotify_player_container {
  width: 100%;
}
